@import url(https://fonts.bunny.net/css?family=abeezee:400,400i|playfair-display-sc:400,700|roboto:700,900);

*{
    font-family: "playfair-display-sc",sans-serif;
    font-size: 1rem;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    display: grid;
    grid-template-rows: min-content repeat(3,1fr);
    grid-template-columns: 1fr 2fr 1fr;
}


header{
    background-color: #475569;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.content {
    background-color: #334155;
    grid-column: 1 / 4;
    grid-row: 2 / 5;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.img{
    background: url("./pics/louis-hansel-qoPAjwEiUmg-unsplash.jpg"); 
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    grid-column: 2 / 3;
    grid-row: 1 / 5;
}


nav{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

button{
    font-size: 0.8rem;
    border: none;
    background-color: #475569;
    border-radius: 0.1rem;
    
}

.content > h1 {
    font-size: 2rem;
}

button:hover{
    color: #555555;
}
